/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  } */


body{
    background-color: #625858;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
    
}

.container{
    display: grid;
    grid-template-columns: 200px 200px;
    column-gap: 20px;

}

.box{
    height: 200px;
    width: 200px;
    margin: 20px;
    border: 5px solid black;
    border-radius: 10px;
}

#b1{
    background-color: rgb(194, 120, 56);
}

#b2{
    background-color: rgb(28, 141, 95);
}

#b3{
    background-color: rgb(98, 64, 166);
}

#b4{
    background-color: rgb(181, 63, 63);
}

.box:active{
    box-shadow:  0 0 10px 10px rgba(51, 170, 225, 0.4);
}